@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Mochiy+Pop+One&family=Poppins:ital,wght@1,600&family=Red+Hat+Mono:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(189, 189, 189);
}

.navBar{
    height: 10vh;
    width: 100vw;
    background-color: #000;
    color: #fff;
}

.navBar img{
    height: 10vh;
    width: 5vw;
    border-radius: 50%;
}

.gap{
    margin-left: 60vw;
}

ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul li{
    padding: 10px;
    list-style: none;
    outline: none;
}

.active{
    font-size: 20px;
    color: rgb(206, 206, 206);
}

ul li a{
    color: #fff;
    text-decoration: none;
    font-family: 'Mochiy Pop One', sans-serif;
}

@media screen and (max-width: 720px) {
    body{
        font-size: calc(100% - 6px);
    }
    .gap{
        margin-left: 40vw;
    }
    .navBar{
        height: 15vh;
        width: 100vw;
    }
}

@media screen and (max-width: 1080px){
    .gap{
        margin-left: 50vw;
    }
    .navBar{
        height: 15vh;
        width: 100vw;
    }
}

/* Content */
.content{
    background-image: url(../images/index_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed ;
    background-size: cover;
    height: 90vh;
    width: 100%;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 25vw;
    background-color: rgba(138, 138, 138, 0.1);
    color: rgb(241, 241, 241);
    border-radius: 20px;
    font-size: 24px;
    font-family: 'Fruktur', cursive;
}

.glow {
    color: rgb(155, 7, 7);
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px rgb(192, 163, 163), 0 0 30px #848a6e, 0 0 40px #d0db67, 0 0 50px #7f9909, 0 0 60px #e60073, 0 0 70px #631320;
    }
    
    to {
      text-shadow: 0 0 20px rgb(224, 224, 224), 0 0 30px #0e1c2c, 0 0 40px #a8a3ca, 0 0 50px #14a3ad, 0 0 60px #2b1383, 0 0 70px #db3186, 0 0 80px #d82753;
    }
}

.content .box h3{
    padding: 3vw;
}

.content .box p{
    color: rgb(82, 2, 64);
    padding: 3vw;
    font-family: 'Mochiy', cursive;
}

.imoji{
    padding-top: 3vw;
    text-align: center;
    font-size: 1.5rem;
}

.imoji:hover{
    cursor: pointer;
    font-size: 3rem;
}

.donate{
    text-align: center;
    padding: 15px;
}

.footer{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 3vh;
    font-family: 'Fruktur', sans-serif;
}

  /* Hide scrollbar for Chrome, Safari and Opera */
  body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
